### Strings and Lists

In [144]:
# String -> combination of characters
# Lists -> collection of elements

In [145]:
a = "abc def" # No concept of character in Python
b = 'abc def'
print(type(a),end=' ')
print(type(b))
c = 'd'
print(type(c))

<class 'str'> <class 'str'>
<class 'str'>

In [146]:
# To access particular element of string
# a[i], refers to ith element
a[0]

'a'

In [147]:
a[4]

'd'

In [148]:
type(a[0])

str

In [149]:
# To iterate the characters in string
for i in a:
    print(i)

a
b
c

d
e
f

In [150]:
# Strings in python are immutable, variables are not

# Attempting this a[3] = 't' will throw the following error
# TypeError: 'str' object does not support item assignment

In [151]:
# How to add ' or " in a string

a = "this is Siddharth's book"
print(a)

this is Siddharth's book

In [152]:
a = 'She said "Yes"'
print(a)

She said "Yes"

In [153]:
a = 'this is Abhijeet\'s book.'
print(a)

this is Abhijeet's book.

In [154]:
#String functions
b = " Ah! don't touch it"
a + b

"this is Abhijeet's book. Ah! don't touch it"

In [155]:
print(a)
a = a + b
print(a)

this is Abhijeet's book.
this is Abhijeet's book. Ah! don't touch it

In [156]:
a == b

False

In [157]:
a > b

True

In [158]:
# Split: To divide string in parts
# By default split splits around whitespaces 
a = "this is a str"
a.split()

['this', 'is', 'a', 'str']

In [159]:
# To specify what you want to split around pass that value as param in func
a.split('i')

['th', 's ', 's a str']

In [160]:
a.replace("is", "are")

'thare are a str'

In [161]:
a.find("is")

2

In [162]:
a.find("where")

-1

In [163]:
a.upper()

'THIS IS A STR'

In [164]:
a.lower()

'this is a str'

In [165]:
a.isalpha() # False as it contains spaces

False

In [166]:
a.startswith("this is")

True

In [167]:
# String slicing a[si,en] will mean a[si,en) ie elements from si to en, excluding en
a = "this is slicing"
a[2:5]

'is '

In [168]:
a[5:10]

'is sl'

In [169]:
a[2:]

'is is slicing'

In [170]:
a[:4]

'this'

In [171]:
a[:]

'this is slicing'

In [172]:
a[2:10:2]

'i ss'

In [173]:
a[10:2:-1]

'ils si s'

In [174]:
# WAP to replace 'x' with 'y'
# Why does substring slicing with index out of range work?
# https://stackoverflow.com/questions/9490058/why-does-substring-slicing-with-index-out-of-range-work
# This program is valid for strings with only one occurence of 'x' 
s = input()
a = 'x'
b = 'y'
p = s.find(a)
if p != -1:
    ans = s[:p] + b + s[p+1:]
    print(ans)

"adsdsxxxsdd"
"adsdsyxxsdd"

In [175]:
# WAP to replace 'x' with 'y'
# Why does substring slicing with index out of range work?
# https://stackoverflow.com/questions/9490058/why-does-substring-slicing-with-index-out-of-range-work

s = input()
a = 'x'
b = 'y'
ans = ""

for i in range(0, len(s)):
    if(s[i]==a):
        ans += b
    else:
        ans += s[i]
print (ans)

adsadklaxx
adsadklayy

In [176]:
# -1 corresponds to last element

str1 = 'hello'
print(str1[-1])

o

#### Lists

In [177]:
# Lists are collection of elements
a = [1,2,3]
type(a)

list

In [178]:
a = list([2,3,4])

In [179]:
a

[2, 3, 4]

In [180]:
a = list()

In [181]:
a

[]

In [182]:
a = [1, 2, 3, 4]
a[3]

4

In [183]:
# Unlike strings, lists are mutable
a[3] = 40
a

[1, 2, 3, 40]

In [184]:
# Unlike Cpp and JAVA, we don't need to define type or size of list

a = [1, 2, "abc", 3]
a

[1, 2, 'abc', 3]

In [185]:
type(a)

list

In [186]:
a = [1, 3, 'abc', True]

In [187]:
a[2] = 4
a

[1, 3, 4, True]

In [188]:
# List can have another list inside

a = [[1, 2, 3], 4, 5, "abc"]
a

[[1, 2, 3], 4, 5, 'abc']

In [189]:
b = [i for i in range(10)]

In [190]:
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [191]:
b = [(i+1)**2 for i in range(10)]
b

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [192]:
x = list()
print (x)

[]

In [193]:
x = list([])
print (x)

[]

In [194]:
list("hello") # Gotcha

['h', 'e', 'l', 'l', 'o']

In [195]:
list(["hello"])

['hello']

In [196]:
a = [1, 3, 4, 5]
len(a)

4

In [197]:
b = [6, 7, 8]
a + b # Concatenation of lists

[1, 3, 4, 5, 6, 7, 8]

In [198]:
a*3 # This will copy a three time

[1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5]

In [199]:
# Adding data to the existing list

a.append(6)
a

[1, 3, 4, 5, 6]

In [200]:
# add data to specific index
a = [1, 3, 4, 5, 6]
a.insert(1, 45)
a

[1, 45, 3, 4, 5, 6]

In [201]:
a.extend(b)

In [202]:
a # a+b creates new list, while extend changes the a list

[1, 45, 3, 4, 5, 6, 6, 7, 8]

In [203]:
# delete data
a.remove(5) # remove 5 from list and not the element at 5
a

[1, 45, 3, 4, 6, 6, 7, 8]

In [204]:
a.remove(6) # removes first occurence of 6

In [205]:
a

[1, 45, 3, 4, 6, 7, 8]

In [206]:
a.pop(3) # To remove element at an index, use pop, it returns the element popped

4

In [207]:
a

[1, 45, 3, 6, 7, 8]

In [209]:
# del: Generic Python keyword to delete anything, returns nothing

del a[4]
a

[1, 45, 3, 6, 8]

In [210]:
a.sort()

In [211]:
a

[1, 3, 6, 8, 45]

In [212]:
max(b) # b must be homogenous for max of b to make sense.

8

In [214]:
a.index(45) # find index of a value

4

In [215]:
100 in b # Another way to check if an element is in the list

False

In [216]:
x = [1,2,3,4]
x.pop() # pops out last element

4

### How to take input and print lists?

In [217]:
a = [2, 3, 7, 5, 1, 4]

for i in a:
    print(i)

2
3
7
5
1
4

In [221]:
# input in the form
# 4
# 1
# 2
# 3
# 4

s = int(input()) 
a = []
for i in range(s):
    a.append(int(input()))
a

4
1
2
3
4

[1, 2, 3, 4]

In [227]:
# input in the form
# 5
# 1 2 3 4 5

s = str(input()).split()
a = []

for i in s:
     a.append(int(i))
a

5 4 3 2 2

[5, 4, 3, 2, 2]

In [230]:
a = [ int(s) for s in input().split()]
a

1 2 3 4 5

[1, 2, 3, 4, 5]

In [232]:
l = [int(s) for s in input().split()]

1 2 3 4 5

In [233]:
l

[1, 2, 3, 4, 5]

In [236]:
even = 0
odd = 0
for i in l:
    if i % 2 == 0:
        even += i
    else:
        odd += i
print (even - odd)

-3

### List slicing

In [237]:
# Similar to the implementation of slicing in strings

a = [1, 2, "abc", 34]
a[0:2]

[1, 2]

In [238]:
a[2:3]

['abc']

In [239]:
a[2:]

['abc', 34]

In [240]:
a[:2]

[1, 2]

In [242]:
a[10:1:-1]

[34, 'abc']

In [243]:
a[:2:-1] # Here default value become a(len)-1, ie the index of last element

[34]

In [244]:
a[::-2]

[34, 2]

In [245]:
a.reverse() # changes a
a

[34, 'abc', 2, 1]

### 2D Lists

In [246]:
# Nothing 2D perse as we can put any type of data
# In general by 2D list we mean m*n list

a = [[1, 2, 3], [4, 5, 6]]
a

[[1, 2, 3], [4, 5, 6]]

In [247]:
type(a)

list

In [248]:
a[1][0]

4

In [250]:
print(a[1])
print(type(a[1]))
print(type(a[1][0]))
print(len(a))
print(len(a[0]))

[4, 5, 6]
<class 'list'>
<class 'int'>
2
3

In [251]:
# Taking list inputs with different formats

sizes = input().split()
m = int(sizes[0])
n = int(sizes[1])
l = []

for i in range(m):
    next_row = [int(i) for i in input().split()]
    l.append(next_row)

l

3 4
1 2 3 4
5 6 7 8
9 10 11 12

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [252]:
# II - Taking list inputs with different formats

sizes = input().split()
m = int(sizes[0])
n = int(sizes[1])

l = []

for i in range(m):
    next_row = []
    for j in range(n):
        next_row.append(int(input()))
    l.append(next_row)
l

3 4
1
2
3
4
5
6
7
8
9
10
11
12

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [254]:
# III - Taking list inputs with different formats

sizes = input().split()
m = int(sizes[0])
n = int(sizes[1])

l_temp = [int(i) for i in input().split()]
l = []

for i in range(m):
    start_index = n*i
    end_index = (n)*(i+1)
    next_row = l_temp[start_index:end_index]
    l.append(next_row)
l
    
#     for j in range(n):
#         next_row.append(l_temp[i][j]))
#     l.append(next_row)

3 4
1 2 3 4 5 6 7 8 9 10 11 12

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [258]:
l

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [260]:
l[1:3]

[[5, 6, 7, 8], [9, 10, 11, 12]]

In [263]:
a = [[1,2] for i in range(4)]
a

[[1, 2], [1, 2], [1, 2], [1, 2]]

In [264]:
a = [[j+1 for j in range(5)] for i in range(3)]
a

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [265]:
# Print column wise sum

def print_column_wise_sum(a):
    m = len(a)
    if m == 0:
        return
    
    n = len(a[0])
    
    for j in range(n):
        sum_j = 0
        for i in range(m):
            sum_j += a[i][j]
        print(sum_j)
    
print_column_wise_sum(a)

3
6
9
12
15

## In Python, there are two ways to create copies :

### Deep copy

* Deep copy is a process in which the copying process occurs recursively. It means first constructing a new collection object and then recursively populating it with copies of the child objects found in the original. 

* In case of deep copy, a copy of object is copied in other object. It means that any changes made to a copy of object do not reflect in the original object. In python, this is implemented using “deepcopy()” function.

### Shallow copy

* A shallow copy means constructing a new collection object and then populating it with references to the child objects found in the original. The copying process does not recurse and therefore won’t create copies of the child objects themselves. 

* In case of shallow copy, a reference of object is copied in other object. It means that any changes made to a copy of object do reflect in the original object. In python, this is implemented using “copy()” function.